@model CarInsurance.Models.Insuree

@{
  ViewBag.Title = "Quote";
}

<h2>Quote</h2>

<h3>Thank you for your interest. Your quote is:</h3>
<h1 class="text-primary text-center">@Html.DisplayFor(model => model.Quote)</h1>

@Html.ActionLink("Back to List", "Index")
